<!DOCTYPE html>
<html>
<head>
  <title><%= productName %></title>

  <meta charset="utf-8">
  <meta content="Discover ktCloud: Your ultimate cloud file storage solution with robust p2p encryption. Safeguard your files securely in the cloud, ensuring unparalleled privacy and security." name="description">
  <meta content="telephone=no" name="format-detection">
  <meta content="no" name="msapplication-tap-highlight">
  <meta
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    name="viewport">

  <!-- Default favicons -->
  <link href="icons/favicon-128x128.png" rel="icon" sizes="128x128" type="image/png">
  <link href="icons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
  <link href="icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
  <link href="icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
  <link href="favicon.ico" rel="icon" type="image/ico">

  <!-- Manifest for android devices -->
  <link href="manifest.json" rel="manifest">

  <!-- Android devices -->
  <link href="icons/icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
  <link href="icons/icon-512x512.png" rel="icon" sizes="512x512" type="image/png">

  <!-- Apple devices -->
  <link href="icons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
  <link href="icons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
  <link href="icons/apple-icon-167x167.png" rel="apple-touch-icon" sizes="167x167">
  <link href="icons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
  <!-- iPhone 14 Pro, 14 Pro Max -->
  <link href="icons/apple-launch-1290x2796.png"
        media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image">
  <!-- iPhone 14, 14 Pro -->
  <link href="icons/apple-launch-1179x2556.png"
        media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image">
  <!-- iPhone 12 Pro Max, 13 Pro Max -->
  <link href="icons/apple-launch-1284x2778.png"
        media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image">
  <!-- iPhone 12, 12 Pro, 13, 13 Pro -->
  <link href="icons/apple-launch-1170x2532.png"
        media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image">
  <!-- iPhone 13 Mini -->
  <link href="icons/apple-launch-1080x2340.png"
        media="(device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image">
  <!-- iPhone XR, 11 -->
  <link href="icons/apple-launch-828x1792.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPhone X, XS, 12 mini, 11 Pro -->
  <link href="icons/apple-launch-1125x2436.png"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image">
  <!-- iPhone XS Max, 11 Pro Max -->
  <link href="icons/apple-launch-1242x2688.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image">
  <!-- iPhone 8, 7, 6s, 6 -->
  <link href="icons/apple-launch-750x1334.png"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus -->
  <link href="icons/apple-launch-1242x2208.png"
        media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image">
  <!-- iPad 10.2" -->
  <link href="icons/apple-launch-1620x2160.png"
        media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPad Mini, Air, 9.7" -->
  <link href="icons/apple-launch-1536x2048.png"
        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPad Pro 10.5" -->
  <link href="icons/apple-launch-1668x2224.png"
        media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPad Pro 11" -->
  <link href="icons/apple-launch-1668x2388.png"
        media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPad Pro 12.9" -->
  <link href="icons/apple-launch-2048x2732.png"
        media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
</head>
<body>
<!-- quasar:entry-point -->
</body>
</html>
